.container-header {
  color: #572ee5;
}
.principal-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.principal-top img {
  margin-top: 20px;
}

.content-text {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin: 20px;
}

.txt-small {
  margin-left: 10px;
  font-weight: 600;
}

.text-large.dark {
  color: #fff;
}
.txt-small.dark {
  color: #fff;
}
