.container-footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(68, 0, 222);
}
.txt-gifos {
  font-size: 20px;
  color: #fff;
}
.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-info P {
  font-size: 18px;
  color: #fff;
}
.logo-github {
  width: 28px;
  height: 28px;
}
