.App {
  display: flex;

  flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App.dark {
  background-color: #2a2a2a;
}
.container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px;
}
.container-top img {
  width: 60px;
  height: 60px;
}
.main-margin {
  margin-left: 79px;
}

/* Style Dark Mode*/

/* Header*/
.dark .text-large {
  color: #fff;
}
.dark .text-small {
  color: #fff;
}

/*Search Bar*/
.dark .container-search input {
  border: 1px solid #fff;
  background-color: #2a2a2a;
}
.dark .container-search button {
  border: 1px solid #fff;
}

/*Results*/
.dark .container-results {
  color: #fff;
}
.dark .giphy-grid {
  background-color: #212121;
}
